@charset "utf-8";
@font-face {
    font-family: 'titularbold';
    src: url('font/soberanatitular-bold-webfont.eot');
    src: local('☺'),
         url('font/soberanatitular-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanatitular-bold-webfont.woff') format('woff'),
         url('font/soberanatitular-bold-webfont.ttf') format('truetype'),
         url('font/soberanatitular-bold-webfont.svg#soberana_titularbold') format('svg');
}
@font-face {
    font-family: 'titularregular';
    src: url('font/soberanatitular-regular-webfont.eot');
    src: local('☺'),
         url('font/soberanatitular-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanatitular-regular-webfont.woff') format('woff'),
         url('font/soberanatitular-regular-webfont.ttf') format('truetype'),
         url('font/soberanatitular-regular-webfont.svg#soberana_titularregular') format('svg');    
}
@font-face {
    font-family: 'sansbold';
    src: url('font/soberanasans-black-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-black-webfont.woff') format('woff'),
         url('font/soberanasans-black-webfont.ttf') format('truetype'),
         url('font/soberanasans-black-webfont.svg#soberana_sansbold') format('svg');    
}
@font-face {
    font-family: 'sansbold_italic';
    src: url('font/soberanasans-blackitalic-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-blackitalic-webfont.woff') format('woff'),
         url('font/soberanasans-blackitalic-webfont.ttf') format('truetype'),
         url('font/soberanasans-blackitalic-webfont.svg#soberana_sansbold_italic') format('svg');
}
@font-face {
    font-family: 'sans_lightbold';
    src: url('font/soberanasans-bold-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-bold-webfont.woff') format('woff'),
         url('font/soberanasans-bold-webfont.ttf') format('truetype'),
         url('font/soberanasans-bold-webfont.svg#soberana_sans_lightbold') format('svg');
}
@font-face {
    font-family: 'sans_lightBdIt';
    src: url('font/soberanasans-bolditalic-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-bolditalic-webfont.woff') format('woff'),
         url('font/soberanasans-bolditalic-webfont.ttf') format('truetype'),
         url('font/soberanasans-bolditalic-webfont.svg#soberana_sans_lightBdIt') format('svg');
}
@font-face {
    font-family: 'sansitalic';
    src: url('font/soberanasans-italic-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-italic-webfont.woff') format('woff'),
         url('font/soberanasans-italic-webfont.ttf') format('truetype'),
         url('font/soberanasans-italic-webfont.svg#soberana_sansitalic') format('svg');
}
@font-face {
    font-family: 'sanslight';
    src: url('font/soberanasans-light-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-light-webfont.woff') format('woff'),
         url('font/soberanasans-light-webfont.ttf') format('truetype'),
         url('font/soberanasans-light-webfont.svg#soberana_soberana_sanslight') format('svg');
}
@font-face {
    font-family: 'sanslight_italic';
    src: url('font/soberanasans-lightitalic-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-lightitalic-webfont.woff') format('woff'),
         url('font/soberanasans-lightitalic-webfont.ttf') format('truetype'),
         url('font/soberanasans-lightitalic-webfont.svg#soberana_soberana_sanslight_italic') format('svg');
}
@font-face {
    font-family: 'sansregular';
    src: url('font/soberanasans-regular-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-regular-webfont.woff') format('woff'),
         url('font/soberanasans-regular-webfont.ttf') format('truetype'),
         url('font/soberanasans-regular-webfont.svg#soberana_sansregular') format('svg');
}
@font-face {
    font-family: 'sansultra';
    src: url('font/soberanasans-ultra-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-ultra-webfont.woff') format('woff'),
         url('font/soberanasans-ultra-webfont.ttf') format('truetype'),
         url('font/soberanasans-ultra-webfont.svg#soberana_sansultra') format('svg');
}
@font-face {
    font-family: 'sansultra_italic';
    src: url('font/soberanasans-ultraitalic-webfont.eot');
    src: local('☺'),
         url('font/soberanasans-ultraitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/soberanasans-ultraitalic-webfont.woff') format('woff'),
         url('font/soberanasans-ultraitalic-webfont.ttf') format('truetype'),
         url('font/soberanasans-ultraitalic-webfont.svg#soberana_sansultra_italic') format('svg');
}
/* GENERAL ------------------------------------------------------------*/
* {
margin: 0px;
padding: 0px;
}

header, section, footer, nav{
display: block;
}

#cabecera{
  display: none !important;
}
.liga a{
display: none !important;
}



body {
   color: #2F2F2F;
   font: 12px "sanslight", Calibri, sans-serif;
}

.SaltoDePagina
{
page-break-before: always;
}


/*-------MAQUETACION-------*/
#cuerpo {
width: 980px;
margin: 10px auto;
text-align: left;
}
#cuerpo .liga a{
    font-family:titularregular;
    font-size:14px;
    color:#497F43;}

#seccion {
    font-family:'sanslight';
padding:5px 0px 0px 0px;
float: left;
width: 980px;
margin:5px 0px 5px 0px;
/*background-image:url(aguila.jpg); background-position:bottom, center;
background-repeat:no-repeat;*/
}

#seccion .subtitulo{
    font-family:titularregular;
    font-size:16px;
    color:#497F43;}

#seccion .subtitulo2{
    font-family:titularregular;
    font-size:16px;
    color:#000000;}
    
#seccion #header table{
width:980px;
border-left:none;
border-top:none;
border-right:none;
    }
    
#seccion #header th{
    font: 12px "sansultra", Calibri, sans-serif;
    text-transform:  uppercase;
    color:#B92025;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;}

#seccion #header td{
    font: 10px "sanslight", Calibri, sans-serif;
    text-transform:  uppercase;
    border-top:none;
    border-bottom:none;
    border-left:none;
    border-right:none;}

/*sdfsdfsdf*/

#seccion #header #revision table{
width:980px;
border-spacing:0px;
border-right:solid 1px #000000;
border-bottom:solid 1px #000000;

}
#seccion #header #revision td a{
    color:#497F43;}
#seccion #header #revisions th{
font: 14px "sans_lightbold", Calibri, sans-serif;
    text-transform:  uppercase;
text-align:center;
color:#B92025;
border-top: solid 1px #000000;
border-left: solid 1px #000000;
cellspacing:0px;}


#seccion #header #revision td{
    font: 12px "sanslight", Calibri, sans-serif;
color:#333333;
border-left: solid 1px #000000;
border-top:solid 1px #666666;
}
